@import url(https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Bad+Script&family=Lora:wght@400;600&family=Pacifico&display=swap);

@import url("components/container.css");

@import url("components/button.css");

@import url("components/avatar.css");

@import url("components/banner.css");

@import url("components/card.css");

@media (max-width: 760px) {
 	.container{
 		width: 600px;
 	}
 }

 @media (max-width: 500px) {
 	.container{
 		width: 400px;*
 			}
 }


body {
	font-family: 'Lora', serif;
	font-size: 16px;
}

h1 {
  font-family: 'Bad Script', serif;
}

h2,{
	font-family: 'Amiri', serif;

}

h3 {
  font-family: 'Lora', serif;
}

a{
	font-family: 'Amiri', serif;
	text-decoration: none;

}

#end {
    text-align: center;
    color: #6d736d;
    margin-top: 80px;
}

