.banner {
  background-image: url("../../Images/banner.jpg");
	color: white;
	padding: 100px 0px;
	background-size:cover;
 	background-position: center;

}

.banner h1{
	font-size:80px;
  margin:0px auto;
}

.banner h2{
	font-size:30px;
	font-weight:lighter;
	opacity:0.8;
	margin-bottom: 40px;
  margin-top: 10px;
}


